<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>827380862810-joilqe95os7b1ct3s9egjj0c96l3h81u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.827380862810-joilqe95os7b1ct3s9egjj0c96l3h81u</string>
	<key>API_KEY</key>
	<string>AIzaSyDfS5zpS-P3O--C_VbYyzZiqQuMe0Za7Dc</string>
	<key>GCM_SENDER_ID</key>
	<string>827380862810</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gurkanbulut.RNChallenge</string>
	<key>PROJECT_ID</key>
	<string>rnchallenge-8f79c</string>
	<key>STORAGE_BUCKET</key>
	<string>rnchallenge-8f79c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:827380862810:ios:8b45cfef47cd4e3c8aad63</string>
	<key>DATABASE_URL</key>
	<string>https://rnchallenge-8f79c.firebaseio.com</string>
</dict>
</plist>